.gallery-item img {
    transition: transform 0.3s ease;
    width: 150px;
    height: 200px;
    object-fit: cover;
    object-position: 25% 25%;
}

.gallery-item img:hover {
    transform: scale(1.05);
    filter: none !important;
}

.democrat{
  filter: sepia(100%) hue-rotate(190deg) saturate(400%);
}

.republican{
  filter: sepia(100%) hue-rotate(-55deg) saturate(400%);
}
