.gallery-item img {
    transition: transform 0.3s ease;
    width: 130px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.gallery-item img:hover {
    transform: scale(1.05);
    filter: none !important;
}

.democrat{
  filter: sepia(100%) hue-rotate(190deg) saturate(400%);
}

.republican{
  filter: sepia(100%) hue-rotate(-55deg) saturate(400%);
}
